body {
  background-color: #2df7a7;
}
.NoraPoem {
  width: 50%;
  border: 25px black;
  border-radius: 50px;
  padding: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  text-align: center;
  text-decoration-style: solid;
  font-weight: bold;
  font-family: cursive;
  color:  #FA8072;
}
#picture1 {
  border-radius: 50px;
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
  position: relative;
}

.text {
  position: absolute;
  top: 10px;
  left: 45%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
